/* CSS RESET */
@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --black-color: #2b2d42;
    --white-color: #edf2f4;
    --light-red: #ef233c;
    --background-color: #8d99ae;
    font-family: "Host Grotesk", system-ui, sans-serif;
}

/* 2. Remove default margin */
* {
    margin: 0;
}

body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
    color: var(--black-color);
    background-color: var(--background-color);
    display: grid;
    grid-template-rows: repeat(2, max-content) 1fr repeat(2, max-content);
    grid-template-columns: 1fr;
    gap: 50px;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
    isolation: isolate;
}

/* CSS RESET */

.entire-game {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.gameboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    background-color: transparent;
    width: 500px;
    margin: auto;
    height: 534px;

}

.cell {
    border-radius: 12px;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: var(--black-color);
    padding: 0;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    transition: all 0.15s ease-in-out;
}

.play-icon {
    width: 100%;
    padding: 10px 10px;
    margin: 0;
    /* border: 1px solid red; */
}

.play-icon-selected {
    width: 100%;
    padding: 10px 10px;
    margin: 0;
    /* border: 1px solid red; */
}

h2 {
    font-size: 20px;
}

.symbol-button {
    display: grid;
    padding: 5px 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    background-color: #f0f0f0;
    font-size: 16px;
    transition: background-color 0.3s ease;
    width: 50px;
    align-items: center;
    text-align: center;
}

.game-parameters {
    display: grid;
    border: 1px solid green;
    grid-template-columns: repeat(2, max-content);
    grid-auto-rows: max-content;

}

.game-parameters h2 {
    grid-area: 1 / 1 / 2 / 3;
}

.game-parameters button {
    grid-column-start: 1;
    grid-column-end: 3;
}

.game-parameters * {
    border: 1px solid black;
}

#header-icon {
    height: 60px;
}

#reset-icon {
    height: 20px;
    width: 20px;
}

.header {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    align-items: center;
    margin: 30px auto;
    padding: 0px 10px;
    max-width: 1200px;
    width: 100%;
}

.game-title {
    text-align: center;
}

.current-turn {

    display: grid;
    align-items: center;
    text-align: center;
    justify-items: center;
    grid-template-columns: repeat(2, max-content);
    height: 50px;
    width: fit-content;
    padding: 10px 20px;
    border-radius: 12px;
    align-self: center;
    margin: auto;
    color: var(--background-color);
    background-color: var(--black-color);
    transition: all 0.15s ease-in-out;
}

.reset-button {
    display: grid;
    padding: 5px 10px;
    grid-template-columns: repeat(2, max-content);
    gap: 10px;
    height: fit-content;
    background-color: var(--light-red);
    color: var(--white-color);
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 12px;
    padding: 5px 15px;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out;
    align-items: center;
    text-align: center;
}

.reset-button:hover {
    background-color: var(--white-color);
    color: var(--light-red);
}

.footer {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 20px;
}

#footer-icon {
    height: 60px;
}